<head>
    <meta name="viewport" content="initial-scale=1"/>
    <title>Ангуляч</title>
</head>

<body ng-app="Angulach">
<div class="l-wrap" ng-controller="AppCtrl as ctrl">
    <!-- ЛОГИН -->
    <div id="login" ng-if="!loggingIn && !currentUser" >
        <div class="ib">
            <label>Логин: </label>
            <input type="text" ng-model="auth.username">
        </div>
        <div class="ib">
            <label>Пароль: </label>
            <input type="password" ng-model="auth.password" ng-enter="signIn()">
        </div>
        <div class="ib">
            <a href="" ng-click="signIn()"> Войти </a>
        </div>
    </div>
    <div ng-if="!loggingIn && currentUser">
        <em>Вы зашли как {{currentUser.username}}, userId = {{currentUser._id}}</em>
    </div>

    <!--ШАПКА-->
    <div id="shapka">
        <div class="b-header-block m-mascot-news">
            <div class="b-header-block_b-logotype">
                <a href="/news/all/">
                    <img src="https:/1chan.ca/img/logo.png" width="250" height="80" alt="1chan.ca">
                </a>
            </div>
            <div class="b-header-block_b-stats" id="stats_block" style="display: none;">
                <p>
                    Вижу <strong>{{ctrl.stats.online}}</strong>!
                    Всего сегодня было <strong>{{ctrl.stats.hosts}}</strong>.<br>
                    За день постов — <strong>{{ctrl.stats.posts}}</strong>,
                    скорость ~<strong>{{ctrk.stats.pph}}</strong> п/ч.
                    <span class="g-hidden" id="stats_unique_posters">{{ctrl.stats.unique}}</span>
                </p>
            </div>
        </div>
    </div>

    <!--КАЛТЕНТ-->
    <div id="kaltent" class="l-content-wrap">
        <!--МЕНЮ-->
        <div id="menu" class="b-blog-panel g-clearfix">
            <ul>
                <li class="b-blog-panel_b-add-entry">
                    <img src="https:/1chan.ca/ico/add-entry.png" width="16" height="16" alt="">
                    <a href="/news/add">Добавить запись</a>
                </li>
                <li class="b-blog-panel_b-favorites">
                    <img src="https:/1chan.ca/ico/favorites.png" width="16" height="16" alt="">
                    <a href="/news/fav/">Избранные</a>
                </li>
                <li class="b-blog-panel_b-approved">
                    <img src="https:/1chan.ca/ico/tick.png" width="16" height="16" alt="">
                    <a href="/news/">Одобренные</a>
                </li>
                <li class="b-blog-panel_b-all">
                    <img src="https:/1chan.ca/img/pidr.png" width="16" height="16" alt="">
                    <a href="/news/all/">Все</a>
                </li>
            </ul>
            <div class="b-blog-panel_b-searchmenu">
                <img src="https:/1chan.ca/ico/search.png" width="16" height="16" alt="">
                <a href="/news/search/">Поиск записей</a> |
                <a href="/news/cat/">Категории</a> |
                <a href="/news/last_comments/">Последние комментарии</a>
            </div>
            <!--<div class="b-blog-panel_b-submenu">
                <img src="https:/1chan.ca/ico/new.png" width="16" height="16" alt="">
                <a href="" class="g-disabled" id="new_comments_link">К непрочитанным комментариям</a>
            </div>-->
        </div>
        <div ui-view></div>
    </div>

    <!--ПОДВАЛ-->
    <div id="footer" class="l-footer-wrap m-mascot-news">
    </div>
</div>
</body>


