<div class="b-blog-entry" id="post-{{c.thread.num}}">
    <div class="b-blog-entry_b-header">
        <img src="https://1chan.ca/ico/favicons/1chan.ca.gif" width="16" height="16" alt="">
        <a ng-href="#/news/{{c.thread.num}}/">{{c.thread.heading}}</a>
    </div>

    <div class="b-blog-entry_b-body g-clearfix">
        {{c.thread.body}}
    </div>

    <div class="b-blog-entry_b-info" id="post_{{c.thread.num}}_info">
            <span class="b-blog-entry_b-info_b-control">
                <a href="" class="js-favorite-button" ng-click="favorite(c.thread)">
                    <img src="https://1chan.ca/ico/favorites-false.png" width="16" height="16" alt=""
                         id="post_{{c.thread.num}}_favorite">
                </a>
                <span>|</span>
                <a href="" class="js-rate-up-button" ng-click="rate(c.thread, 'up')">
                    <img src="https://1chan.ca/ico/plus_grey.gif" width="9" height="11" alt="Плевс">
                </a>
                <strong class="{{rateClass(c.thread.rating)}}">{{c.thread.rating}}</strong>
                <a href="" class="js-rate-down-button" ng-click="rate(c.thread, 'down')">
                    <img src="https://1chan.ca/ico/minus_grey.gif" width="9" height="11" alt="Пинус">
                </a>
                <span>|</span>
                <span>{{c.thread.date | date:'dd MMMM yyyy @ HH:mm:ss'}}</span>
                <span>|</span>
                <span>
                    <a ng-href="#/news/{{c.thread.num}}/" class="g-disabled">№{{c.thread.num}}</a>
                </span>
            </span>
            <span class="b-blog-entry_b-info_b-link">
                <a ng-href="#/news/{{c.thread.num}}/">Обсуждение: <span
                        class="js-comments">{{c.thread.commentsCount}}</span>
                </a>
            </span>
    </div>
</div>

<div class="b-comment" ng-repeat="comment in c.comments | orderBy:'num'" id="comment_{{comment.num}}">
    <div class="b-comment_b-info">
        {{comment.date | date:'dd MMMM yyyy @ HH:mm:ss'}},
        <a ng-href="#{{comment.num}}">№</a>
        <a href="" ng-click="pasteNum(comment.num)" class="js-paste-link" name="{{comment.num}}">{{comment.num}}</a>
        <a href="#" class="js-remove-button g-hidden">
            <img src="https://1chan.ca/ico/remove.gif" width="16" height="16" alt="{{comment.num}}">
        </a>
        <a href="#" class="js-setusercaptcha-button g-hidden">
            <img src="https://1chan.ca/ico/recaptcha.ico" width="16" height="16" alt="{{comment.num}}">
        </a>
    </div>
    <div class="b-comment_b-body g-clearfix">
        {{comment.body}}
    </div>
</div>
<div class="b-post-statistics">
    Читают: <strong id="post_stats_reading">{{c.stats.reading}}</strong> |
    Отвечают: <strong id="post_stats_writing">{{c.stats.writing}}</strong>
    <span class="b-post-statistics_m-right">
        Всего: <span id="post_stats_total">{{c.stats.total}} просмотров</span>
    </span>
</div>
<div class="b-comment comment-form">
    <form name="addCommentForm" ng-submit="addComment()">
        <md-input-container>
            <label for="nComment-body">Текст:</label>
            <textarea required id="nComment-body" name="body" ng-model="nComment.body" rows="8"></textarea>
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary">Отправить</md-button>
    </form>
</div>



