.b-blog-entry_b-body {
    margin-top: 1em;
}

.b-blog-entry_b-info {
    border-radius: 0;
}

.simple-form {
    padding: 10px 15px 10px 15px;
    margin-bottom: 30px;
}

.md-errors-spacer {
    min-height: 1px;
}

.comment-form {
    background-color: white;
}

.ib {
    display: inline-block;
}
