<div class="b-blog-entry" ng-class="{'m-hide': thread.hidden && thread.isList}" id="post-{{thread.num}}">
    <div class="b-blog-entry_b-header">
        <img src="https://1chan.ca/ico/favicons/1chan.ca.gif" width="16" height="16" alt="">
        <a href="" ng-click="showThread(thread)">
            {{thread.heading}}
        </a>
    </div>
    <div class="b-blog-entry_b-body g-clearfix">
        {{thread.body}}
    </div>
    <div class="b-blog-entry_b-info" id="post_{{thread.num}}_info">
            <span class="b-blog-entry_b-info_b-control">
                <a href="" class="js-favorite-button" ng-click="favorite(thread)">
                    <img ng-src="https://1chan.ca/ico/favorites-{{thread.favorite}}.png" width="16" height="16" alt=""
                         id="post_{{thread.num}}_favorite">
                </a>
                <a href="" class="js-hide-link" ng-click="hide(thread)" ng-if="thread.isList">
                    <img src="https://1chan.ca/ico/oh-my-eyes.png" width="16" height="16" alt="337631">
                </a>
                <span ng-if="!thread.nonrateable">
                    <span>|</span>
                    <a href="" class="js-rate-up-button" ng-click="rate(thread, 'up')">
                        <img src="https://1chan.ca/ico/plus_grey.gif" width="9" height="11" alt="Плевс">
                    </a>
                    <strong class="{{rateClass(thread.rating)}}">{{thread.rating}}</strong>
                    <a href="" class="js-rate-down-button" ng-click="rate(thread, 'down')">
                        <img src="https://1chan.ca/ico/minus_grey.gif" width="9" height="11" alt="Пинус">
                    </a>
                </span>
                <span>|</span>
                <span>{{thread.date | date:'dd MMMM yyyy @ HH:mm:ss'}}</span>
                <span>|</span>
                <span>
                    <a ng-href="/news/{{thread.num}}/" class="g-disabled">№{{thread.num}}</a>
                </span>
                <span ng-if="thread.board">
                    <span>|</span>
                    <board-icon board="{{thread.board}}"></board-icon>
                </span>
            </span>
            <span class="b-blog-entry_b-info_b-link">
                <a ng-href="/news/{{thread.num}}/">
                    Обсуждение<span ng-if="thread.closed"> закрыто</span>: <span class="js-comments">{{thread.commentsCount}}</span>
                </a>
            </span>
    </div>
</div>