<md-dialog aria-label="Login">
    <md-toolbar class="{{error? 'md-warn': 'md-primary'}}">
        <div class="md-toolbar-tools">
            <h2>
                <p ng-show="!error">
                    Введите данные для входа
                </p>
                <p ng-show="error">
                    Неверный логин / пароль
                </p>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <md-icon md-svg-src="content:fc_clear_24px" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <form name="loginForm" ng-submit="login()">
            <md-input-container flex-gt-md="40">
                <label>Email</label>
                <input required id="user-email" name="email" ng-model="user.email" ng-pattern="emailPattern">
            </md-input-container>

            <md-input-container flex-gt-md="40">
                <label>Пароль</label>
                <input required type="password" id="user-password" name="password" ng-model="user.password">
            </md-input-container>

            <md-button type="submit" class="md-raised md-primary" ng-keyup="$event.keyCode == 13 ? login(): null">Вход</md-button>
        </form>
    </md-dialog-content>
</md-dialog>